/*  #383E4C
    #F2F2F2



*/


html{}

body{
    margin: 0 0;
    font-family: 'Martel', serif;
}
/*Nav bar style*/

nav{
    z-index: 1;
    width: 100%;
    position: fixed;
}
ul{
    
    text-align: center;
    background-color: #383E4C;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    /*position: fixed;*/
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
li{
    font-size: 20px;
    display: inline;
    padding: 10px;
    
    color: white !important;
    border: solid 1px white;
}

li:hover{
    background-color: #49505F;
    color: #383E4C !important;
}

a{
    text-decoration: none !important;
    color: white;
}



header{
  background-image: url("Imgs/Atlanta.jpg");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
    background-color: deepskyblue;
    border-radius: 15%;
    border: none;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 7px;
}



.img-container{
    position: relative;
    text-align: center;
}

#text {
    font-family: 'Berkshire Swash', cursive;
    font-size: 46px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
}

.outdoors{
    width: 85%;
    margin: auto;
}
.row1{
    padding-bottom: 15px;
    text-align: center;
}
.row1 .Container {
    display: inline-block;
    max-width: 400px;
    padding: 10px;
    background-color: #F2F2F2;
    
}

.row1 .Container img{
    height: 230px;
    max-height: 230px;
}

.row2{
    padding-bottom: 15px;
    text-align: center;
}

.row2 .Container{
    display: inline-block;
    max-width: 600px;
    padding: 10px;
    background-color: #F2F2F2;
}

.row2 .Container img{
    height: 380px;
    max-height: 380px;
}


.mid {
  /* The image used */
  background-image: url("Imgs/City.jpg");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.caption{
    position: relative;
    color: aliceblue;
    text-align: center;
    font-size: 32px;
    top: 35%;
}

.caption h1{
    font-family: 'Berkshire Swash', cursive;
    font-weight: 100;
}

.caption p{
    font-size:24px;
}
.city{
    width: 85%;
    margin: auto;
}
.row3{
    padding-bottom: 15px;
    text-align: center;
}

.row3 .Container {
    display: inline-block;
    max-width: 280px;
    padding: 7px;
    background-color: #F2F2F2;
    
}

.row3 .Container img{
    height: 200px;
    max-height: 380px;
}

.row4{
    text-align: center;
}

.row4 .Container {
    display: inline-block;
    max-width: 1080px;
    max-height: 895px;
  
    background-color: #F2F2F2;
    margin-bottom: 15px;
    
}
.contact{
    text-align: center
    width: 100%;
    background-image: url(Imgs/FormBackground.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    
    
}

form{
    width: 60%;
    text-align: center;
    margin: auto;
    padding: 10px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: deepskyblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: lightblue;
}


.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
footer{
    margin: 0;
    background-color: aliceblue;
    text-align: center;
    height: 70px;
    
}
footer p{
    padding-top: 15px;
    margin: 0;
}


/*Mobile View*/
@media screen and (max-width: 650px){
    
    
    
    nav{
        position: absolute;
    }
    li{
        display: block;
        padding: 5px;
    }
    
    #text{
        top:75%;
        font: 16px;
    }
    
    .outdoors{
        width: 100%;
    }
    
    .row1 .Container{
    max-width: 600px;
    padding: 10px;
    
    }
    .caption{
    
    color: aliceblue;
    text-align: center;
    font-size: 16px;
    top: .5%;
    }
    
    .caption p{
        font-size: 22px;
    }
    .city{
        width: 100%;
    }
    .row3 .Container{
    max-width: 600px;
   
    padding: 10px;
    
    }
    
    .row3 .Container img{
        height: 300px;
    }
    
    .contact{
        background: white;
    }
    form{
    width: 100%;

}
    
    .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  } 
}

/*Tablet View*/
@media screen and (max-width: 900px){
    
    
    
    nav{
        position: absolute;
    }

    
    #text{
        top:55%;
        font: 16px;
    }
    
    .outdoors{
        width: 100%;
    }
    
    .row1 .Container{
    max-width: 600px;
    padding: 10px;
    
    
    }
    
    .row1 .Conatiner img{
        height: 500px;
        max-height: 500px;
    }
    .caption{
    
    color: aliceblue;
    text-align: center;
    font-size: 16px;
    top: .5%;
    }
    
    .caption p{
        font-size: 22px;
    }
    .city{
        width: 100%;
    }
    .row3 .Container{
    max-width: 600px;
   
    padding: 10px;
    
    }
    
    .row3 .Container img{
        height: 300px;
    }
    
    .contact{
        background: white;
    }
    form{
    width: 100%;

}
    
    .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  } 
}
